<div class="container-fluid contenido">
    <div class="t-w col-sm-6 offset-sm-3 text-center">
        <h1 class="t-w im-c text-capitalize"> {{pokemonDetail.name}}</h1>
    </div>    
    <div class="row col-sm-12 text-center">        
        <img class="im-c" src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonDetail.id}}.png" width="30%" alt="">
    </div>
    <div class="t-w col-sm-6 offset-sm-3 pb-5">
        <p class="p-p"><strong>Altura:</strong> {{pokemonDetail.height}} decimetros</p>  
        <p class="p-p mt-3"><strong>Peso:</strong> {{pokemonDetail.weight}} hectogramos</p>
        <p class="p-p mt-3"><strong>Experiencia básica:</strong> {{pokemonDetail.base_experience}}</p>
        <p class="p-p mt-3"><strong>Índices de juego:</strong> <span *ngFor="let indice of indices; index as i"> {{indice.version.name}} |</span></p>
        <p class="p-p mt-3"><strong>Habilidades:</strong> <span *ngFor="let ability of abilities; index as i"> {{ability.ability.name}} </span></p>
        <p class="p-p mt-3"><strong>Movimientos:</strong> <span *ngFor="let move of moves; index as i"> {{move.move.name}} |</span></p>
        <p class="p-p mt-3"><strong>Estadisticas:</strong> <span *ngFor="let stat of stats; index as i"> {{stat.stat.name}} - {{stat.base_stat}} |</span></p> 
        
    </div>
</div>
