<div class="container-fluid contenido">
    <div class="t-w col-sm-6 offset-sm-3 text-center">
        <h1 class="t-w im-c">Bulbasur</h1>
    </div>    
    <div class="row col-sm-12 text-center">        
        <img class="im-c" src="../../assets/images/bulbasur.png" width="30%" alt="">
    </div>
    <div class="t-w col-sm-6 offset-sm-3 pb-5">        
        <h5>A Bulbasaur es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo cada vez más a medida que absorbe los rayos del sol.</h5>
        <p class="p-p"><strong>Altura:</strong> 0,7 m.</p>  
        <p class="p-p"><strong>Peso:</strong> 6,9 kg.</p>
        <p class="p-p"><strong>Sexo:</strong> masculino/femenino.</p>
        <p class="p-p"><strong>Categoría:</strong> semilla.</p>
        <p class="p-p"><strong>Habilidad:</strong> espesura (potencia los ataques de tipo ‘planta’ en un apuro).</p>
        <p class="p-p"><strong>Tipo:</strong> planta y veneno.</p>
        <p class="p-p"><strong>Debilidad:</strong> fuego, volador, hielo y psíquico.</p>
    </div>
</div>
