.contenido {
    padding-top:2%; 
    background-color: #142952;
    height: auto;
} 
.im-c{
    display: block;
    margin: auto;
}
.t-w{
    color:#ffffff;
}
.p-p{
    margin-bottom: .2rem;
}
.cb{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.title-1{
    font-size: 2.7rem !important;
    text-rendering: optimizeLegibility;
    font-weight: 300 !important;
    color: #5b6670;
}
.text-description{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    color: #5b6670;
}