<div class="container-fluid contenido">
    <div class="t-w col-sm-6 offset-sm-3 text-center">
        <h1 class="t-w im-c">Charmander</h1>
    </div>    
    <div class="row col-sm-12 text-center">        
        <img class="im-c" src="../../assets/images/charmander.png" width="30%" alt="">
    </div>
    <div class="t-w col-sm-6 offset-sm-3 pb-5">        
        <h5>Prefiere las cosas calientes. Dicen que cuando llueve le sale vapor de la punta de la cola. Potencia sus movimientos de tipo Fuego cuando le quedan pocos PS.</h5>
        <p class="p-p"><strong>Altura:</strong> 0,6 m.</p>  
        <p class="p-p"><strong>Peso:</strong> 8,5 kg.</p>
        <p class="p-p"><strong>Sexo:</strong> masculino/femenino.</p>
        <p class="p-p"><strong>Categoría:</strong> Lagartija.</p>
        <p class="p-p"><strong>Habilidad:</strong> Mar Llamas.</p>
        <p class="p-p"><strong>Tipo:</strong> Fuego.</p>
        <p class="p-p"><strong>Debilidad:</strong> Agua, Tierra, Roca.</p>
        
    </div>
</div>
