.toolbar {    
    height: auto;
    display: flex;
    align-items: center;
    background-color:#4775d1;
    color: white;
    font-weight: 600;
    padding: 2% 5%;
  }
  .b-a{
    background-color:#4775d1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .menu{
    background-color:#4775d1;
    padding-top: 1%;
    padding-left: 8%;
  }
  .contenido {
    padding-top:2%; 
    background-color: #142952;
    height: auto;
  } 
  .btn-info {
    background-color: #4775d1;
    border-color: #4775d1;
  } 
  .f-b{
    font-weight: bold; 
  }
  .f-9{
      font-size: .9em;
  }