<div class="container-fluid contenido">
    <div class="row col-sm-12">
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Bulbasaur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo a medida que absorbe los rayos del sol.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/bulbasur.png" width="100%" alt="Bulbasur">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Ivysaur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Este  Pokémon lleva un bulbo en el lomo y, para poder con su peso, tiene unas patas y un tronco gruesos y fuertes.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/ivisaur.png" width="100%" alt="Ivisaur">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Venusaur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Tiene una flor enorme en el lomo que, según parece, adquiere unos colores muy vivos si está bien nutrido y le da mucho el sol.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/venasaur.png" width="100%" alt="Venasur">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row col-sm-12 mt-4 pb-5">
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Bulbasur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Este Pokémon lleva un bulbo en el lomo y, para poder con su peso, tiene unas patas y un tronco gruesos y fuertes.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/bulbasur.png" width="100%" alt="Bulbasur">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Ivisaur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Este Pokémon lleva un bulbo en el lomo y, para poder con su peso, tiene unas patas y un tronco gruesos y fuertes.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/ivisaur.png" width="100%" alt="Ivisaur">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card h-100">
          <div class="card-header f-b">
            Venasur
          </div>
          <div class="row card-body col-sm-12">
            <div class="col-sm-6">
              <p class="card-text f-9">Este Pokémon lleva un bulbo en el lomo y, para poder con su peso, tiene unas patas y un tronco gruesos y fuertes.</p>
              <a class="btn btn-info" routerLink="pokemon" role="button">Ver Pokémon</a>
            </div>
            <div class="col-sm-6 text-center">
              <img src="../assets/images/venasaur.png" width="100%" alt="Venasur">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>