<div class="container-fluid contenido">
  <div class="row col-sm-12">
    <div class="col-sm-4 mb-4" *ngFor="let pokemon of pokemones; index as i">
      <div class="card h-100">
        <div class="card-header f-b">
          {{pokemon.name}}
        </div>
        <div class="row card-body col-sm-12">
          <div class="col-sm-12">
            <a class="btn btn-info" routerLink="pokemon/{{i+1}}" role="button">Ver Pokémon</a>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>