<!-- Toolbar -->
<nav class="navbar navbar-light b-a">
  <a class="navbar-brand" routerLink="/">
    <img width="100%" alt="Logo Pokémon" src="../assets/images/logo.png">
  </a>
  <a class="btn btn-sm btn-warning" routerLink="/" role="button">Ver listado de Pokémones</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar Pokémon" aria-label="Search">
    <a class="btn btn-light my-2 my-sm-0" routerLink="search" role="button">Buscar</a>
  </form>
</nav> 
<router-outlet></router-outlet>